                {% if dts %}
                var disponiveis = {{ dts | tojson }};
                {% else %}
                var disponiveis = [];
                {% endif %}






















<!DOCTYPE html>
<html>
<head>
    <title>Error</title>
</head>
<body>
    <h1>{{ message }}</h1>
</body>
</html>
<!DOCTYPE html>
<html>
<head>
    <title>Asset Trips Map</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h2>Select an Asset</h2>
        <form action="/load_rangedata" method="POST" class="form-inline">
            <div class="form-group">
                <select name="assetid" class="form-control">
                    {% for assetid in assetids %}
                        {% if selected_assetid == assetid %}
                            <option value="{{ assetid }}" selected>{{ assetid }}</option>
                        {% else %}
                            <option value="{{ assetid }}">{{ assetid }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-success">Load Trips</button>
        </form>
          
        
    
    <h2>Selecione o dia</h2>
    <form action="/load_data" method="POST" class="form-inline">
        <input type="hidden" name="assetid" value="{{ selected_assetid }}">
        <div class="form-group">
            <select name="sdata" class="form-control">
                {%for data in dts%}
                        <option value="{{ data}}" selected>{{ data}}</option>
                        {% endfor %}              
            </select>
        </div>
        {%if dts%}
        
        <button type="submit" class="btn btn-success">coringa</button>
        
        {%else %}
        <a href='#' class='btn btn-success btn- disabled' style='pointer-events: none; cursor: default;'>coringa</a>
        {%endif%}
    </form>
    
    
        <h2>Selecione a viagem</h2>
        <table class="table table-bordered table-hover" >
            <tr>
              <th>Inicio da Viagem</th>
              <th>Final da Viagem</th>
            </tr>
            {% for data in datass %}
            {% set data1, data2 = data %}
            <tr>
              <td>{{ data1 }}</td>
              <td>{{ data2 }}</td>
                    
              <td>
                <form action="/map" method="POST" class="form-inline">
                <input type="hidden" name="assetid" value="{{ selected_assetid }}">
                <input type="hidden" name="sdata" value="{{ selected_data }}">
                
                  <input type="hidden" name="data1" value="{{ data1}}">
                  <input type="hidden" name="data2" value="{{ data2}}">
                  <button type="submit" class="btn btn-outline-danger">showmap</button>
                </form>
              </td>
            </tr>
            {% endfor %}
          </table>
          
          {% if erro %}
          
          <div class="alert alert-danger" role="alert">
            <h5>{{ message }}</h5>
          </div>
          <input type="hidden" name="assetid" value="{{ selected_assetid }}">
          <input type="hidden" name="sdata" value="{{ selected_data }}">
          <h2>Select a data</h2>
        <table class="table table-bordered table-hover" >
            <tr>
              <th>Inicio da Viagem</th>
              <th>Final da Viagem</th>
            </tr>
            {% for data in datass %}
            {% set data1, data2 = data %}
            <tr>
              <td>{{ data1 }}</td>
              <td>{{ data2 }}</td>
                    
              <td>
                <form action="/map" method="POST" class="form-inline">
                <input type="hidden" name="assetid" value="{{ selected_assetid }}">
                <input type="hidden" name="sdata" value="{{ selected_data }}">
                
                  <input type="hidden" name="data1" value="{{ data1}}">
                  <input type="hidden" name="data2" value="{{ data2}}">
                  <button type="submit" class="btn btn-outline-danger">showmap</button>
                </form>
              </td>
            </tr>
            {% endfor %}
          </table>
                
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          {%endif%}
        
          {% if entrada %}
          <h2>map</h2>
          <table class="table table-bordered table-hover" >
              <tr>
                <th>dtinicio </th>
                <th>ldtfinalng</th>
                <th>lat</th>
                <th>long</th>
              </tr>
            <td>{{ data_formatada1 }}</td>
            <td>{{ data_formatada2 }}</td>
            <td></td>
            <input type="hidden" name="dt" value="{{ data_formatada1}}">
            <input type="hidden" name="dt" value="{{ data_formatada2}}">
            <td></td>
              {% for local in cordinates %}
              {% set lat, long = local %}
          
              <tr>
                <td>{{ lat }}</td>
                <td>{{ long }}</td>
                
                      
                <td>
                  <form action="/map" method="POST" class="form-inline">
                  <input type="hidden" name="assetid" value="{{ selected_assetid }}">
                  
                    <input type="hidden" name="lat" value="{{ lat}}">
                    <input type="hidden" name="long" value="{{ long}}">
                    
                    <button type="submit" class="btn btn-outline-danger">showmap</button>
                  </form>
                </td>
              </tr>
              {% endfor %}
            </table>
            {%endif%}
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
          {% if tripids %}
            <h2>Select a Trip</h2>
            <form action="/map" method="POST" class="form-inline">
                <input type="hidden" name="assetid" value="{{ selected_assetid }}">
                <div class="form-group">
                    <select name="tripid" class="form-control">
                        {% for tripid in tripids %}
                            <option value="{{ tripid }}">{{ tripid }}</option>
                        {% endfor %}
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Show Map</button>
            </form>
        {% endif %}
    </div>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

    
</body>
</html>
